<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}" />
</head>
<body>
    <section class="sub-header">
            <nav>
                <a href="home.html"><img src="{{url_for('static', filename='/images/logo.png')}}"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                        <li><a href="http://127.0.0.1:5000/about">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:5000/menu">MENU</a></li>
                        <li><a href="http://127.0.0.1:5000/table">TABLE</a></li>
                        <li><a href="http://127.0.0.1:5000/contact">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:5000/cart">CART</a></li>
                        <li><a href="http://127.0.0.1:5000/mainhome">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
            <h1>About Us</h1>
</section>

    <p>You’re in the business of making people happy.You bring the celebration; I bring the communication.
As a restaurant operator, you have to wear different types of hats, even if the responsibilities you take
on are not within your expertise. Writing is one of those tasks. It can be intimidating to write something
customers find interesting.However, the about page on our site is particularly important for online visitors.
Customers are naturally curious, and not just about your menu. An about page tells the story of a business,
highlighting what makes a restaurant unique. Everyone loves a good origin story! </p>
    <p>Our head builds free brand-based online ordering websites for our restaurant partners,including an About Us section.
Our associates, like senior graphic designer, have experience in helping our clients highlights interesting and
informative content to include on their websites.</p>
    <h2>Short Story About Us:</h2>
    <p>The short story is that Manasa gave up her full-time media job to travel the world. 40 countries,
123 cities and the rest of the world to go. She doesn’t believe in taking adventures alone and that’s why
she set up "Crunchy Snow Flake" .To get people everywhere to discover their love for travel & indulgence. Before
this,Manasa was working as a Business Reporter & Television Anchor with ET NOW, Bloomberg TV and CNBC TV18.
The long story is that what started as a personal blog is now a team spread across the world who are here
to inject just the right dose of fun to make your life worthwhile! enjoying the new luxury hotels restaurants,
electrifying events or food festivals, you get it all at "Crunchy Snow Flake".We discover new places and
possibilities and try to spread the joy of wanderlust. If you’re inspired just a little bit to pack your bags
and head out for the weekend or discover the joy of a new dessert in your city – our job is done!</p>


<section class="footer">
    <h4>About Us</h4>
    <p>In the close proximity from our hotel you can enjoy breakfast, business lunch or romantic dinner.</p>
</section>
</body>
</html>