<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}" />
    <title>CONTACT US</title>
</head>
<body>
<section class="sub-header">
            <nav>
                <a href="home.html"><img src="{{url_for('static', filename='/images/logo.png')}}"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                        <li><a href="http://127.0.0.1:5000/about">ABOUT</a></li>
                        <li><a href="http://127.0.0.1:5000/menu">MENU</a></li>
                        <li><a href="http://127.0.0.1:5000/table">TABLE</a></li>
                        <li><a href="http://127.0.0.1:5000/contact">CONTACT</a></li>
                        <li><a href="http://127.0.0.1:5000/cart">CART</a></li>
                        <li><a href="http://127.0.0.1:5000/mainhome">LOGOUT</a></li>
                    </ul>
                </div>
            </nav>
</section>
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.6631458656584!2d80.62040591486335!3d16.441925688651654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f0a2a7d81943%3A0x8ba5d78f65df94b8!2sK%20L%20Deemed%20To%20Be%20University!5e0!3m2!1sen!2sin!4v1664382437018!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
  <section class="contact-us">
    <a href="contact.html"><img src="{{url_for('static', filename='/images/address.png')}}"></a>
  </section>
<section class="footer">
    <h4>About Us</h4>
    <p>In the close proximity from our hotel you can enjoy breakfast, business lunch or romantic dinner.</p>
</section>
</body>
</html>