<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/login.css')}}" />
    <title>LOGIN PAGE</title>
</head>
<body>
<section class="sub-header">
            <nav>
                <a href="home.html"><img src="{{url_for('static', filename='/images/logo.png')}}"></a>
            </nav>
</section>
    <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toogle-btn" onclick="login()">LogIn</button>
                    <button type="button" class="toogle-btn" onclick="register()">Register</button>
                </div>
                <div class="social-icons">
                    <img src="{{url_for('static', filename='/images/2.png')}}">
                    <img src="{{url_for('static', filename='/images/3.png')}}">
                    <img src="{{url_for('static', filename='/images/4.png')}}">
                </div>
                <form id="login" class="input-group" action="http://localhost:5000/login_validation" method="POST">
                    <input type="text" class="input-field" placeholder="User name" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <input type="checkbox" class="check-box"><span>Remember password</span>
                    <button type="submit" class="submit-btn" onclick="http://127.0.0.1:5000/home" value="submit">Log In</button>
                </form>
                <form id="register" class="input-group" action="http://localhost:5000/login_validation" method="POST">
                    <input type="text" name="user_name" class="input-field" placeholder="User name" required>
                    <input type="number" name="mobile_no" class="input-field" placeholder="Mobile Number" required>
                    <input type="password" name="pswd" class="input-field" placeholder="Password" required>
                    <input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
                    <button type="submit" class="submit-btn" onclick="login()" value="submit">Register</button>
                </form>
            </div>

        </div>
        <script>
            var x=document.getElementById("login");
            var y=document.getElementById("register");
            var z=document.getElementById("btn");

            function register(){
                x.style.left="-400px";
                y.style.left="50px";
                z.style.left="110px";
            }
            function login(){
                x.style.left="50px";
                y.style.left="450px";
                z.style.left="0px";
            }
        </script>
</body>
</html>