<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
    <h1>Registration Form</h1><br>
  <form action="http://localhost:5000/home" method="POST">
    First Name: <input type='text' name="fn"><br>
    Last Name: <input type='text' name="ln"><br>
    Registration No: <input type='number' name="rn"><br>
    Mobile No: <input type='number' name="mb"><br>
    <input type="submit" value="Register">
  </form>
</body>
</html>